.profile {
  width: 100%;
  height: calc(100vh - 100px);
  padding: 70px 20px;
  text-align: center;
  color: #fff;
  background-image: url('../assets/planodefundo.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profile::before {
  content: ''; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 100);
  z-index: -1; 
}
.infos-conteiner {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.profile-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 4px solid rgb(102, 101, 101);
}

.profile-name {
  font-size: 2rem;
  color: #e9e5e5;
  margin-bottom: 10px;
}

.profile-title {
  font-size: 1rem;
  color: #9b9999;
  margin-bottom: 10px;
}

.profile-description {
  font-size: 1rem;
  color: #8b8989;
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .profile {
    padding: 40px 15px;
  }

  .profile-img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
  }

  .profile-name {
    font-size: 1.5rem;
  }

  .profile-title, .profile-description {
    font-size: 0.9rem;
  }

  .infos-conteiner {
    flex-direction: column;
    gap: 10px;
  }

  .profile-description {
    max-width: 100%;
    padding: 0 20px;
  }
}


@media (max-width: 1024px) {
  .profile-img {
    width: 180px;
    height: 180px;
  }

  .profile-name {
    font-size: 1.8rem;
  }

  .profile-title {
    font-size: 1rem;
  }

  .profile-description {
    font-size: 1rem;
  }
}
