.profile {
  width: 100%;
  height: calc(100vh - 100px);
  padding: 70px 20px;
  text-align: center;
  color: #fff;
  background-image: url('../assets/planodefundo.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.infos-conteiner {
  display: flex;
  float: none;
  justify-content: center;
  gap: 20px;

}

.profile-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 4px solid rgb(102, 101, 101);
}

.profile-name {
  font-size: 2rem;
  color: #e9e5e5;
  margin-bottom: 10px;
}

.profile-title {
  font-size: 1rem;
  color: #9b9999;
  margin-bottom: 10px;
}

.profile-description {
  font-size: 1rem;
  color: #8b8989;
  max-width: 600px;
}

@media (max-width: 480px) {
  
  .profile-name {
    font-size: 1.2rem;
  }

  .profile-title {
    font-size: 0.8rem;
  }

  .profile-description {
    font-size: 0.85rem;
    padding: 10px;
  }

  .navbar a {
    font-size: 0.9rem;
  }

  .summary {
    padding: 10px;
  }

  .summary p {
    font-size: 0.9rem;
  }
}